@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
	Layout = "Master.cshtml";
}

<h3 class="m-t-0">@CurrentPage.Name</h3>

<div class="block p-y-lg">

@Html.Partial("membersList")

</div>




