@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="row">
    

    <div class="col-sm-3">
        
        @Umbraco.RenderMacro("sidebar_projects")
        
    </div>
    
    <div class="col-sm-7">

<h2>@Umbraco.Field("projectTitle")</h2>

<p>@Umbraco.Field("projectDescription")</p>

</div>

</div>