<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT siteMap ANY>
<!ATTLIST siteMap id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1082" key="f4a48f43-0b2f-4890-b005-32fb622c30d3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-22T00:17:02" updateDate="2018-03-27T13:08:18" nodeName="Landing page" urlName="landing-page" path="-1,1082" isDoc="" nodeType="1055" creatorName="ilya" writerName="ilya" writerID="0" template="1054" nodeTypeAlias="homePage" isPublished="true">
    <siteTitle><![CDATA[Un-common]]></siteTitle>
    <imageCrop><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1005/awhcbhlqrcecdjcpqunn_img_0249.jpg",
  "crops": []
}]]></imageCrop>
    <logo><![CDATA[umb://media/9bb95ba6146b4c7092ab71fdc6fac481]]></logo>
    <footer><![CDATA[We’ve been working on Aarhus Web Developers Network page for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at awdn@awdn.com.]]></footer>
    <mainContent><![CDATA[<p class="m-t-md"><span class="text-ribbon text-ribbon-primary"><span> The Aarhus Web Developers Network page is a Umbraco build website, designed as mandatory assignment for Development environments class. The aim of this assignment is to create a eye-catching Umbraco website. </span></span></p>]]></mainContent>
    <articlesOverview id="1085" key="39d29b6a-7a3b-447b-9861-9423a5a52563" parentID="1082" level="2" creatorID="0" sortOrder="1" createDate="2018-02-27T21:14:28" updateDate="2018-03-29T06:20:01" nodeName="News" urlName="news" path="-1,1082,1085" isDoc="" nodeType="1065" creatorName="ilya" writerName="ilya" writerID="0" template="1064" nodeTypeAlias="articlesOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[News]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Our main information channel</p>]]></articlesBodyText>
      <articleItem id="1087" key="184ee66d-4eb3-4fd6-92df-75e7535d738b" parentID="1085" level="3" creatorID="0" sortOrder="0" createDate="2018-02-27T21:21:39" updateDate="2018-02-27T21:21:39" nodeName="Article 1" urlName="article-1" path="-1,1082,1085,1087" isDoc="" nodeType="1069" creatorName="ilya" writerName="ilya" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <articleContent><![CDATA[<p class="story-body__introduction">Much of Europe has been blanketed in snow as cold weather spreads as far south as the Mediterranean coast.</p>
<p>The cold spell, nicknamed "the Beast from the East" in the UK, is carrying freezing winds across the continent, and temperatures as low as -30C.</p>
<p>At least seven people have been reported dead since Monday - five in Poland and two in Romania.</p>
<p>The International Committee of the Red Cross has appealed to the public to check on at-risk neighbours.</p>
<p>"Just knocking on someone's door to check they have everything they need can make a huge difference," the ICRC's Europe director, Simon Missiri, said. "It could even be the difference between life and death."</p>
<p>Red Cross emergency teams have opened shelters and are providing hot food and blankets for thousands of people across the Continent, it said.</p>]]></articleContent>
        <articleTitle><![CDATA[Europe freezes as 'Beast from the East' arrives]]></articleTitle>
      </articleItem>
      <articleItem id="1088" key="a4c8dce3-524a-4f5e-8b96-c237266dda3c" parentID="1085" level="3" creatorID="0" sortOrder="1" createDate="2018-02-27T23:41:29" updateDate="2018-02-27T23:41:29" nodeName="Article 2" urlName="article-2" path="-1,1082,1085,1088" isDoc="" nodeType="1069" creatorName="ilya" writerName="ilya" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <articleContent><![CDATA[<p><span class="m_first-letter m_first-letter--flagged">A</span>n Egyptian pop singer has been sentenced to two years in prison for "inciting debauchery" after a music video showing her suggestively eating a banana was ruled to be too sexually explicit. </p>
<p>Shyma was arrested shortly after releasing I have Issues, in which the she is seen dancing in underwear before appearing in front of a classroom of adult men and pouring milk over a banana before eating it, licking an apple and tasting the icing of a slice of chocolate cake.</p>
<p data-mediaconductor-processed="true">The video attracted more than one million viewers in a few days, but also sparked controversy among conservatives for the strong sexual gesturing. </p>]]></articleContent>
        <articleTitle><![CDATA[Egyptian singer Shyma sent to prison for two years over 'explicit' music video of her eating a banana]]></articleTitle>
      </articleItem>
      <articleItem id="1089" key="ec38a7f2-d6ba-4861-b25a-b8993e4d5dea" parentID="1085" level="3" creatorID="0" sortOrder="2" createDate="2018-02-27T23:48:09" updateDate="2018-02-27T23:48:09" nodeName="Article 3" urlName="article-3" path="-1,1082,1085,1089" isDoc="" nodeType="1069" creatorName="ilya" writerName="ilya" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <articleContent><![CDATA[<p>Amanda Liberty identifies herself as objectum sexual, which means that she is attracted to objects, and first fell in love with a drum kit at 14 and later the Statue of Liberty before changing her surname.</p>
<p><br />A woman is so in love with her collection of chandeliers that she is 'engaged' to one of them and takes another to bed with her.</p>
<p>Amanda Liberty has filled her home with 25 hanging lamps after spending hundreds of pounds on some of her favourites.</p>
<p>The 33-year-old has embarked on an 'open relationship' with the chandeliers and is 'engaged' to a 28in wide light called Lumiere after buying it on eBay.</p>
<p>She says it was love at first sight and, after spending £400 on the antique from Germany, Lumiere is regularly showered with cuddles and kisses.</p>
<p>But she prefers to spend her nights cuddled up to Jewel, a portable chandelier that she happily tucks into bed with her.</p>]]></articleContent>
        <articleTitle><![CDATA[33-Year-Old Woman Is Engaged to a Chandelier Named Lumiere]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1086" key="9118b0a0-2629-4bcf-b6d4-8e6acc64a8bf" parentID="1082" level="2" creatorID="0" sortOrder="2" createDate="2018-02-27T21:15:37" updateDate="2018-03-31T06:25:36" nodeName="Projects" urlName="projects" path="-1,1082,1086" isDoc="" nodeType="1073" creatorName="ilya" writerName="ilya" writerID="0" template="1072" nodeTypeAlias="projectsOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>Our latest and greatest projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectItem id="2148" key="08652198-bcf5-4d08-a784-8e3d7f36587a" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2018-03-27T11:13:09" updateDate="2018-03-31T06:32:34" nodeName="Introduction to Angular" urlName="introduction-to-angular" path="-1,1082,1086,2148" isDoc="" nodeType="1078" creatorName="ilya" writerName="ilya" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[Introduction to Angular]]></projectTitle>
        <projectStatus>26</projectStatus>
        <projectDescription><![CDATA[<p>Description</p>]]></projectDescription>
      </projectItem>
      <projectItem id="2149" key="96dc3148-a955-46f9-a146-aec8fe83bf46" parentID="1086" level="3" creatorID="0" sortOrder="1" createDate="2018-03-27T11:19:35" updateDate="2018-03-29T00:07:56" nodeName="Webmail Interface" urlName="webmail-interface" path="-1,1082,1086,2149" isDoc="" nodeType="1078" creatorName="ilya" writerName="ilya" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <projectTitle><![CDATA[Encrypted Webmail Interface built with Angular.]]></projectTitle>
        <projectStatus>29</projectStatus>
        <projectDescription><![CDATA[<div><span>Project management web application with scrum in mind! Built on top of Django and AngularJS (Front-end)</span></div>
<div><span> </span></div>
<div><span>Taiga is made for developers and designers. We care enormously about UX because usability and design are both critical aspects of the succesful project.</span></div>
<div><span> </span></div>
<div><span>There are two possible ways to contribute:</span></div>
<ul>
<li><span>Bugs: If you find a bug regarding front-end, please report it as previously indicated in the Bug reports section or send a pull-request as indicated in the Code Patches section.</span></li>
<li><span>Enhancements: If its a design or UX bug or enhancement we will love to receive your feedback. Please send us your enhancement, with the reason and, if possible, an example. Our design and UX team will review your enhancement and fix it as soon as possible. We recommend you to use our mailing list so we can have a lot of different opinions and debate.</span></li>
<li><span>Language Localization: We are eager to offer localized versions of Taiga. Some members of the community have already volunteered to work to provide a variety of languages. We are working to implement some changes to allow for this and expect to accept these requests in the near future.</span></li>
</ul>]]></projectDescription>
      </projectItem>
      <projectItem id="2150" key="e34568a8-bd47-4a7f-8726-853460e48faa" parentID="1086" level="3" creatorID="0" sortOrder="2" createDate="2018-03-27T11:22:57" updateDate="2018-03-31T06:43:00" nodeName="Angular 2 admin panel framework" urlName="angular-2-admin-panel-framework" path="-1,1082,1086,2150" isDoc="" nodeType="1078" creatorName="ilya" writerName="ilya" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Admin dashboard template based on Angular 5+, Bootstrap 4 (previously known as ng2-admin)]]></projectTitle>
        <projectStatus>26</projectStatus>
        <projectDescription><![CDATA[<div><span>Admin dashboard template based on Angular 5+, Bootstrap 4 (previously known as ng2-admin)</span></div>
<div><span> </span></div>
<div><span>What's included:</span></div>
<div><span>Angular 5+ &amp; Typescript</span></div>
<div><span>Bootstrap 4+ &amp; SCSS</span></div>
<div><span>Responsive layout</span></div>
<div><span>High resolution</span></div>
<div><span>Flexibly configurable themes with hot-reload (2 themes included)</span></div>
<div><span>Authentication module with multiple providers</span></div>
<div><span>Lots of awesome features:</span></div>
<div><span>Buttons</span></div>
<div><span>Modals</span></div>
<div><span>Popovers</span></div>
<div><span>Icons</span></div>
<div><span>And a lot of extra features in development</span></div>]]></projectDescription>
      </projectItem>
      <projectItem id="2151" key="f77ebf67-fee2-4f70-821a-4edefd3246b3" parentID="1086" level="3" creatorID="0" sortOrder="3" createDate="2018-03-27T11:30:10" updateDate="2018-03-29T00:01:49" nodeName="HackerNews &amp; Angular 5" urlName="hackernews-angular-5" path="-1,1082,1086,2151" isDoc="" nodeType="1078" creatorName="ilya" writerName="ilya" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <projectTitle><![CDATA[HackerNews made with Angular 5]]></projectTitle>
        <projectStatus>29</projectStatus>
        <projectDescription><![CDATA[<div><span>It was built in order to see what it's like to create an Angular 5 application. It was fun to play with.</span></div>
<div></div>
<div><span>Uses:</span><span></span></div>
<ul>
<li>angularjs2</li>
<li>webpack</li>
<li>babeljs</li>
</ul>
<div><span></span></div>
<div><span>Made possible thanks to great work of developers of our community.</span></div>
<div><span> </span></div>
<div><span>Also a lot of inspiration and example API usages taken from blacksonic's angular2-es6-todomvc and angular2-es6-starter.</span></div>
<div><span> </span></div>
<div><span>The MIT License</span></div>
<div><span> </span></div>
<div><span>Copyright (c) 2015 Harry Potter </span></div>
<div><span> </span></div>
<div><span>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</span></div>
<div><span> </span></div>
<div><span>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</span></div>
<div><span> </span></div>
<div><span>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND.</span></div>]]></projectDescription>
      </projectItem>
      <projectItem id="2152" key="c4c4c632-ab12-4d27-8e10-675d550480b2" parentID="1086" level="3" creatorID="0" sortOrder="4" createDate="2018-03-27T11:31:51" updateDate="2018-03-31T06:16:42" nodeName="Trello Clone" urlName="trello-clone" path="-1,1082,1086,2152" isDoc="" nodeType="1078" creatorName="ilya" writerName="ilya" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Angular 5 Trello Clone]]></projectTitle>
        <projectStatus>26</projectStatus>
        <projectDescription><![CDATA[<div><span>This repository is intended to be a trello clone with limited fuctionality, just to portfolio purposes. There's no vinculation to trello neither hold of any visual identity or brand.</span></div>
<div><span> </span></div>
<div><strong>License</strong></div>
<div><span> </span></div>
<div><span>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</span></div>
<div><span> </span></div>
<div><span>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</span></div>
<div><span> </span></div>
<div><span>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</span></div>]]></projectDescription>
      </projectItem>
      <projectItem id="2153" key="b868b7d7-651e-4b4f-adcc-96cd1bd882e9" parentID="1086" level="3" creatorID="0" sortOrder="5" createDate="2018-03-27T11:40:18" updateDate="2018-03-31T06:24:31" nodeName="Neural network library" urlName="neural-network-library" path="-1,1082,1086,2153" isDoc="" nodeType="1078" creatorName="ilya" writerName="ilya" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[networks]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[TensorFlow-based neural network library]]></projectTitle>
        <projectStatus>29</projectStatus>
        <projectDescription><![CDATA[<div><span>It is a library built on top of TensorFlow for building complex neural networks.</span></div>
<div><span> </span></div>
<div><strong>Installation</strong></div>
<div><span> </span></div>
<div><span>This project can be installed from pip, with or without GPU support.</span></div>
<div><span> </span></div>
<div><span>This installation is compatible with Linux/Mac OS X and Python 2.7 and 3.{4,5,6}. The version of TensorFlow installed must be 1.5. Installing Sonnet supports the virtualenv installation mode of TensorFlow, as well as the native pip install.</span></div>
<div><span> </span></div>
<div><span>To install, run:</span><span></span></div>
<div><span>$ pip install dm-sonnet</span></div>
<div><span></span></div>
<div><span>It will work with both the CPU and GPU version of tensorflow, but to allow for that it does not list Tensorflow as a requirement, so you need to install Tensorflow separately if you haven't already done so.</span></div>]]></projectDescription>
      </projectItem>
      <projectItem id="2154" key="3894ae17-89fe-49b8-a1ff-733497e4fb60" parentID="1086" level="3" creatorID="0" sortOrder="6" createDate="2018-03-27T11:47:04" updateDate="2018-03-31T06:24:12" nodeName="Fast Learning Algorythm" urlName="fast-learning-algorythm" path="-1,1082,1086,2154" isDoc="" nodeType="1078" creatorName="ilya" writerName="ilya" writerID="0" template="1077" nodeTypeAlias="projectItem" isPublished="true">
        <metaDescription><![CDATA[fast learning]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[How to build Umbraco website and get a good grade]]></projectTitle>
        <projectStatus>29</projectStatus>
        <projectDescription><![CDATA[<div><span>Open source project based on Do it Yourself Engine for autonomous learning from Learning by Doing Learning Environment. Courtesy of Aarhus Web Dev Network</span></div>
<div><span> </span></div>
<div><span>DEMO: https://learningbydoing.com/</span></div>
<div><span> </span></div>
<div><span>Installation</span></div>
<div><span> </span></div>
<div><span>git clone https://github.com/eaailkal/umbraco</span></div>
<div><span>rise and shine</span></div>]]></projectDescription>
      </projectItem>
    </projectsOverview>
    <siteMap id="1106" key="33f847ce-cffe-4890-adce-d32ef9a444a9" parentID="1082" level="2" creatorID="0" sortOrder="3" createDate="2018-03-05T13:34:32" updateDate="2018-03-05T13:34:32" nodeName="Site map" urlName="site-map" path="-1,1082,1106" isDoc="" nodeType="1105" creatorName="ilya" writerName="ilya" writerID="0" template="1104" nodeTypeAlias="siteMap" isPublished="true">
      <metaKeywords><![CDATA[test]]></metaKeywords>
      <metaDescription><![CDATA[map]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </siteMap>
    <login id="1129" key="d024ba9f-72da-446c-a4f3-079a1ffca662" parentID="1082" level="2" creatorID="0" sortOrder="4" createDate="2018-03-21T19:37:05" updateDate="2018-03-21T19:37:05" nodeName="Login" urlName="login" path="-1,1082,1129" isDoc="" nodeType="1128" creatorName="ilya" writerName="ilya" writerID="0" template="1127" nodeTypeAlias="login" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <members id="1140" key="7f83ef97-e418-45d7-b462-f36ee826fa83" parentID="1082" level="2" creatorID="0" sortOrder="6" createDate="2018-03-23T06:49:22" updateDate="2018-03-23T06:49:22" nodeName="Members" urlName="members" path="-1,1082,1140" isDoc="" nodeType="1139" creatorName="ilya" writerName="ilya" writerID="0" template="1138" nodeTypeAlias="members" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <contactUs id="2155" key="84959aed-5871-4ec6-8a0e-6e2ceb946e0a" parentID="1082" level="2" creatorID="0" sortOrder="7" createDate="2018-03-27T15:40:34" updateDate="2018-03-27T15:40:34" nodeName="Contact" urlName="contact" path="-1,1082,2155" isDoc="" nodeType="1095" creatorName="ilya" writerName="ilya" writerID="0" template="1094" nodeTypeAlias="contactUs" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactUs>
    <textPage id="2158" key="0777509b-1eca-4ef5-8a03-0dc0f0b82f8f" parentID="1082" level="2" creatorID="0" sortOrder="8" createDate="2018-03-28T09:54:01" updateDate="2018-03-28T10:35:31" nodeName="About" urlName="about" path="-1,1082,2158" isDoc="" nodeType="1061" creatorName="ilya" writerName="ilya" writerID="0" template="1060" nodeTypeAlias="textPage" isPublished="true">
      <new_grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Lorem ipsum dolor sit amet, luctus ac volutpat eget cupiditate lacus odio, arcu neque mi diam sed id, lacinia est neque neque, ut vulputate id auctor pede, imperdiet maecenas velit consectetuer laoreet porttitor. Mollis mauris imperdiet nonummy, semper amet adipiscing maecenas, phasellus sodales molestias tincidunt vel pellentesque, turpis vitae erat venenatis tortor nibh, nonummy orci ante. Quisque dictum cras pretium, nibh urna facilisis, sed eu elit ultricies non dignissim, turpis magna. Sed tristique sociis. Odio porttitor quisque quis penatibus erat, pretium sapien vestibulum, in ipsum semper ac mauris a, est phasellus integer venenatis sociosqu vehicula. A nulla ac donec libero est arcu. Id justo suscipit iaculis vitae lectus.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "styles": {},
          "config": {},
          "hasConfig": false,
          "id": "b8e3eb20-6498-6aaa-cfeb-07e5d26163e8",
          "active": false
        },
        {
          "name": "",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span class=\"ind\">The ability to think about or plan the future with imagination or wisdom.</span></p>\n<div class=\"exg\">\n<div class=\"ex\"><em>‘the organization had lost its vision and direction’</em></div>\n</div>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<div class=\"umb-grid\">\n<div class=\"container\">\n<div class=\"row clearfix\">\n<div class=\"grid-section\">\n<div class=\"col-md-4 column\">\n<div>\n<div class=\"row clearfix\">\n<div class=\"col-md-12 column\">\n<div>\n<p><span>Lorem ipsum dolor sit amet, luctus ac volutpat eget cupiditate lacus odio, arcu neque mi diam sed id, lacinia est neque neque, ut vulputate id auctor pede, imperdiet maecenas velit consectetuer laoreet porttitor.</span><span></span></p>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n<hr />",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>The ability to do something well; expertise.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "3 r",
          "hasConfig": false,
          "id": "1c17fe48-3931-4328-080c-0eeae3e99f14"
        }
      ]
    }
  ]
}]]></new_grid>
    </textPage>
  </homePage>
</root>