@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@{

    // var root = Model.Content.Site();                 
    // Model.Content.Site().FirstChild("articlesOverview").Children("articleItem")
    var selection = Model.Content.Site().FirstChild("projectsOverview").Children("projectItem")
        .Where(x => x.DocumentTypeAlias == "projectOverview")
        .First()
        .Children
        .Where(x => x.IsVisible())
        .Where(x => x.GetPropertyValue<string>("projectStatus") == "Completed")
        .OrderByDescending(x => x.CreateDate) // Newest projects first
        .Take(3)  // Show only 3 projects
        .ToArray();
                        
}					

<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>


