


@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
	var selection = Model.Content.Site().FirstChild("articlesOverview").Children("articleItem")
						.Where(x => x.IsVisible())
						.OrderBy("CreateDate desc");
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>
